In [16]:
import pandas as pd

student_grades = pd.read_csv(r'C:\Users\amber\OneDrive\Documents\IS362_Week5Discussion.csv')


student_grades['Test Score 1'].fillna(value='W Grade', inplace = True)
student_grades['Test Score 2'].fillna(value='W Grade', inplace = True)

student_grades

      Name  Student ID Grade Level Test Score 1 Test Score 2
0     Amy          384    Freshman            A            C
1    Brian         624      Junior      W Grade           B-
2    James         809      Senior            B      W Grade
3    Lucas         702      Junior      W Grade      W Grade
4  Miranda         423    Freshman           A-           B-